<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Livraria Cornwell</title>
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-dark bg-gradient">
    <div class="container-fluid">
      <a href="{% url 'core:home' %}" class="navbar-brand text-light"><i class="fas fa-book-open"></i> Livraria
        CornWell</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuHeader"
        aria-controls="menuHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="menuHeader" class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'core:home' %}" class="nav-link active text-light">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light">Bernard Cornwell</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="vh-100 mb-5">
    
  </header>

  <main class="container">
    <article class="mb-5">
      <h3 class="mb-4">Campeões de Vendas</h3>
      <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

        {% for produto in produtos_mais_vendidos %}
          <div class="col">
            <div class="card">
              <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <p class="card-text">R${{ produto.preco }}</p>
                <p class="card-text">{{ produto.quantidade_vendida }} unidades vendidas</p>
                <a href="#" class="btn btn-primary btn-sm d-flex justify-content-center">Comprar</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </article>

    <div class="row">
      <aside class="col-lg-3 mb-5">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-action active">Todos</a>
          {% for categoria in categorias %}
            <a href="#" class="list-group-item">{{ categoria.nome }}</a>
          {% endfor %}
        </div>
      </aside>

      <article class="col-lg-9">
        <div class="row">
          
          {% for produto in produtos %}
            <div class="col-6 col-md-4 col-lg-3 mb-4">
              <div class="card">
                <img src="https://via.placeholder.com/300x400" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ produto.nome }}</h5>
                  <p class="card-text">R${{ produto.preco }}</p>
                  <a href="{{ produto.get_absolute_url }}" class="btn btn-primary btn-sm d-flex justify-content-center">Comprar</a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </article>
    </div>
  </main>

  <footer class="container-fluid bg-dark mt-4">
    <div class="d-flex flex-column align-items-center justify-content-center py-5">
      <p class="fs-6 text-light mb-0">{{ empresa.razao_social }}</p>
      <a class="fs-6 text-light mb-0" href="{{ empresa.link_endereco }}" target="_blank">{{ empresa.endereco }}</a>
      <p class="fs-6 text-light mb-0">CNPJ: {{ empresa.cnpj }}</p>
    </div>
  </footer>

  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://kit.fontawesome.com/63a74d118a.js" crossorigin="anonymous"></script>
</body>

</html>